@font-face {
	font-family: OptimaNova;
	src: url(static/css/fonts/OptimaNovaLT-RegularOsF.otf);
}
@font-face {
	font-family: OptimaNova;
	src: url(static/css/fonts/OptimaNovaLT-BoldOsF.otf);
	font-weight: bold;
}
@font-face {
	font-family: OptimaNova;
	src: url(static/css/fonts/OptimaNovaLT-ItalicOsF.otf);
	font-style: italic;
}
@font-face {
	font-family: OptimaNova;
	src: url(static/css/fonts/OptimaNovaLT-BoldItalicOsF.otf);
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: PalatinoLinotype;
	src: url(static/css/fonts/pala.ttf);
}
@font-face {
	font-family: PalatinoLinotype;
	src: url(static/css/fonts/palab.ttf);
	font-weight: bold;
}
@font-face {
	font-family: PalatinoLinotype;
	src: url(static/css/fonts/palai.ttf);
	font-style: italic;
}
@font-face {
	font-family: PalatinoLinotype;
	src: url(static/css/fonts/palabi.ttf);
	font-weight: bold;
	font-style: italic;
}
img {
	object-fit: scale-down;
	max-width:100%;
	max-height:100%;
}
body {
	margin:5;
	padding:5;
	width:100%;
	height:100%;
	font-family:PalatinoLinotype, Palatino Linotype, Palatino LT, Georgia, Serif;
	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: "onum";
	-webkit-font-feature-settings: "onum";
	font-feature-settings: "onum";
}
h1, h2, h3, h4, h5 {
	padding:0;
	margin:0;
	font-family:OptimaNova, Optima Nova LT Std, Optima, Frutiger Linotype, Sans;
	font-weight:bold;
	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: "onum";
	-webkit-font-feature-settings: "onum";
	font-feature-settings: "onum";
}
p, .body ul {
	font-size: 1.25em;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	margin: 1em 0;
	padding 0;
	border-top: 1px solid #aaa;
}
.sidebar {
	position:absolute;
	top: 5px;
	left: 5px;
	width: 16em;
	height: 100%;
}
.sidebar h2,.sidebar h3, .sidebar h4,.sidebar p, .body h1 {
	color: #555;
}
.body {
	position:absolute;
	left:18em;
	height:100%;
}
.body p {
	padding-left: 15px;
}
.skillcolumn {
	column-count: 2;
}
